# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [3]:
import pandas as pd

try:
    data = pd.read_csv('data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [4]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [6]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [7]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [8]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [9]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [11]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [13]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [14]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [15]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [16]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [17]:
data.duplicated().sum()

71

In [18]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [19]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [20]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [21]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [22]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [23]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [24]:
data_pivot = data.pivot_table(index = ['children'], values = 'debt').round(3)
data_pivot.sort_values(by="debt")

           debt
children
5         0.000
0         0.075
3         0.082
1         0.092
2         0.095
4         0.098

**Вывод:** из данной выборки мы можем сделать заключение, что количество детей влияет на возврат кредита в срок.
При количесвтве 5 детей в семье в данной выборке не было случаев невозврата кредита в долг, это не говорит о максимальной надежности таких заемщиков, это говрит о том, что такие случаи просто не попались в данную выборку.
Так как далее мы видим, что меньше всего случаев невозрата кредита в семьях, где 0 детей.
Это может объясняться тем, что при огранченных денежных средствах у заемщика в более высоком приоритете будут потребности детей по сравнению с обязанностью погасить кредит

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data.pivot_table(index = ['family_status'], values = 'debt').round(3)
#data_pivot.sort_values(by="debt")
data_grouped = data.groupby("family_status").agg({"debt":['sum', "count", 'mean',]})


print(data_grouped)
display(data_grouped)

                      debt
                       sum  count      mean
family_status
Не женат / не замужем  273   2796  0.097639
в разводе               84   1189  0.070648
вдовец / вдова          63    951  0.066246
гражданский брак       385   4134  0.093130
женат / замужем        927  12261  0.075606

                      debt
                       sum  count      mean
family_status
Не женат / не замужем  273   2796  0.097639
в разводе               84   1189  0.070648
вдовец / вдова          63    951  0.066246
гражданский брак       385   4134  0.093130
женат / замужем        927  12261  0.075606

In [27]:
data_grouped.sort_values(by=('debt',  'mean'))

                      debt
                       sum  count      mean
family_status
вдовец / вдова          63    951  0.066246
в разводе               84   1189  0.070648
женат / замужем        927  12261  0.075606
гражданский брак       385   4134  0.093130
Не женат / не замужем  273   2796  0.097639

**Вывод:** из данной выборки мы можем сделать заключение, что семейное положение влияет на возврат кредита в срок. 
Если у заемщика были или есть официально зарегестрированные отношения, это понижает вероятность невозврата кредита. При этом самые низкие показатели у вдовцов/вдов и у тех, кто в разводе.
Самый высокий риск невозврата кредита в срок у не женатых/не замужних заемщиков.

Предположу, что те, кто вдовцы/вдовы и в разводе - скорее всего проживают одни и их доходы/расходы более четко и размеренно 
контролируюся ими же, возможен так же психологический фактор - они расчитывают только на себя - подстраховать их некому, поэтому
к обязательствам относятся более ответственно

Женат/замужем - с одной стороны присутствуют внезапные статьи расхода средст на супруга, что может быть приорететней, чем 
погашение кредита, с другой стороны супруг может может финансово подстраховать - поэтому % невыплат чуть выше, чем у вдовцов/
вдов и в разводе

Гражданский брак и не женат/не замужем - у данных категорий заемщиков был самый высокий % невозврата кредита в долг, возможно
это связано с личный уровнем ответсвенности, который как раз и повышается у тех, кто вступает в официальные отношения.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [28]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data.pivot_table(index = ['total_income_category'], values = 'debt').round(3)
#data_pivot.sort_values(by="debt")
data_grouped = data.groupby("total_income_category").agg({"debt":['sum', "count", 'mean']})

print(data_grouped)

                       debt
                        sum  count      mean
total_income_category
A                         2     25  0.080000
B                       354   5014  0.070602
C                      1353  15921  0.084982
D                        21    349  0.060172
E                         2     22  0.090909

**Вывод:** из данной выборки мы можем сделать заключение, что уровень дохода влияет на возврат кредита в срок. При этом самый высокий уровень дохода (категория А) не обеспечивает самую низкую вероятность невозврата кредита в срок.
Категория дохода, имеющая самую низкию вероятность невозврата кредита в срок - категория D (доход от 50 тыс до 200 тыс)
Категория дохода, имеющая самую высокую вероятность невозврата кредита в срок - категория E (доход до 50 тыс)

После применения метода agg мы видим общее кол-во заемщиков в разбивке по уровню дохода и число случаев невозврата кредита 
в долг в разбивке по уровню дохода.
При общем количестве заемщиков 21 331 группы с уровнем дохода A,D,E по своему количеству не могут играть ориентир для 
формирования мнения о всех потенциальных людях с таким доходом. 
Если сравнивать группы с доходом B и С (98%) всех заемщиков из предоставленной выборки - у группы B меньше случаев невозврата
кредита в долг.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [29]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data.pivot_table(index = ['purpose_category'], values = 'debt').round(3)
data_pivot.sort_values(by="debt")

                           debt
purpose_category
операции с недвижимостью  0.073
проведение свадьбы        0.079
операции с автомобилем    0.093
получение образования     0.093

**Вывод:** из данной выборки мы можем сделать заключение, что цель кредита влияет на возврат кредита в срок. 
При цели кредита "операции с недвижимостью" самый низкий процент вероятности невозврата кредита в срок. 
Самый высокий процент вероятности невозвата кредита в срок при целях кредитования "операции с автомобилем" и "получение образования"

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*  основная возможая причина пропусков в исходных данных - проблема при выгрузке исходных данных.
Логика рассуждения - пропустить данные значения при первичном опросе потенциального кредитного заемщика недопустима - так как это основные обязательные параметры. 
Человеческий фактор (некорректные данные при вводе) выявляется в виде аномалий, а не отсутствия данных как таковых.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* вопрос немного не раскрывает мысль, лучшее решение по сравнению с чем?
1) лучше заполнять медианным значением, чем удалять строку с остальными заполненными ячейками полностью? в таком случае (удаление) мы потеряем часть выборки, которая актуальна и существенна - и при корректном заполнении всех остальных параметров должная входить в исследование. 
2) лучше заполнять медианным значением, чем средним значением? в таком случае медианное значение корректно, а среднее значение не отображает среднее значение набора данных.

При идеальном симметричном распределении медиана будет равна средней.
Так как выборка в большинстве своем не имеет идеального симметричного распределения, а так же возможно наличие случайных
ошибок в виде некорректной информации (аномалии) - то при расчете методом средней это будет некорретное вычисление - 
получаемое значение будет не так правильно отображать информацию по выборке, как медиана.

Именно поэтому медиана предпочтительней - это центральное числовое значение набора данных.

### Шаг 4: общий вывод.

Согласно данной выборке портрет лучшего кредитозаемщика - человек без детей, бывший и состоящий в настоящий момент в официальном браке, с уровнем дохода не ниже 50 тыс руб и целью кредитования "операции с недвижимостью".
Дополнить данный портрет можно полом данного человека - мужчина это или женщина.
Выборка сделать это позволяет, посколько присутствует столбец с обозначением пола (gender), но зависимость пола заемщика от выплаты кредита в срок мы не расчитывали.

В данном проекте мы исследовали четыре параметра и зависимость каждого параметра на возврат кредита в срок.

первый параметр - количество детей. Их количество влияет на возврат кредита в срок. При количесвтве 5 детей в семье в данной выборке не было случаев невозврата кредита в долг, это не говорит о максимальной надежности таких заемщиков, это говрит о том, что такие случаи просто не попались в данную выборку. Так как далее мы видим, что меньше всего случаев невозрата кредита в семьях, где 0 детей. Это может объясняться тем, что при огранченных денежных средствах у заемщика в более высоком приоритете будут потребности детей по сравнению с обязанностью погасить кредит.

второй параметр - семейное положение. Семейное положение влияет на возврат кредита в срок. Если у заемщика были или есть официально зарегестрированные отношения, это понижает вероятность невозврата кредита. При этом самые низкие показатели у вдовцов/вдов и у тех, кто в разводе. Самый высокий риск невозврата кредита в срок у не женатых/не замужних заемщиков.
Предположу, что те, кто вдовцы/вдовы и в разводе - скорее всего проживают одни и их доходы/расходы более четко и размеренно 
контролируюся ими же, возможен так же психологический фактор - они расчитывают только на себя - подстраховать их некому, поэтому к обязательствам относятся более ответственно. Женат/замужем - с одной стороны присутствуют внезапные статьи расхода средст на супруга, что может быть приорететней, чем погашение кредита, с другой стороны супруг может может финансово подстраховать - поэтому % невыплат чуть выше, чем у вдовцов/вдов и в разводе. Гражданский брак и не женат/не замужем - у данных категорий заемщиков был самый высокий % невозврата кредита в долг, возможно это связано с личный уровнем ответсвенности, который как раз и повышается у тех, кто вступает в официальные отношения.

третий параметр - уровень дохода. Он влияет на возрат кредита в срок. При общем количестве заемщиков 21 331 группы с уровнем дохода A,D,E по своему количеству не могут играть ориентир для формирования мнения о всех потенциальных людях с таким доходом. При сравнивнении групп с доходом B и С (98%) всех заемщиков из предоставленной выборки - у группы B меньше случаев невозврата
кредита в долг.

четвертый параметр - цель кредита. И она тоже влиет на возрат кредита в долг.При цели кредита "операции с недвижимостью" самый низкий процент вероятности невозврата кредита в срок. Среднюю позицию по рискам занимает цель "проведение свадьбы". Самый высокий процент вероятности невозвата кредита в срок при целях кредитования "операции с автомобилем" и "получение образования"